<div class="container-nav">
  <div class="sub-container-nav">
    <h1 class="sub-container-title">MystView</h1>
    <div>
      <a href="/login">login</a>
      <a href="/signup">signup</a>
    </div>
  </div>
</div>


<h1 style="color:#fff">Wrong code!</h1>