<div class="container-nav">
  <div class="sub-container-nav">
    <a href="/">
      <h1 class="sub-container-title">MystView</h1>
    </a>
    <div>
      <a href="/signin">signin</a>
      <a href="/signup">signup</a>
    </div>
  </div>
</div>


<h1 style="color:#fff">Wrong code!</h1>