<div class="container-nav">
  <div class="sub-container-nav">
    <h1 class="sub-container-title">MystView</h1>
    <div>
      <a href="/signin">signin</a>
      <a href="/signup">signup</a>
    </div>
  </div>
</div>

<h1>404 Error</h1>
<h2>Page wasn't found!</h2>