body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  background-color: #ffdfd3;
}

a {
  text-decoration: none;
  color: #b4bad4;
  padding: 0 1vw;
  font-size: 2vmax;
  text-transform: capitalize;
}

a:hover {
  color: #fff;
}

.container-nav {
  background-color: #fec8d8;
  color: #b4bad4;
}

.sub-container-nav {
  display: flex;
  margin: 0 5vw;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.sub-container-nav-right{
  display: flex;
  align-items: center;
}

.sub-container-nav-right-code-link{
  color:#f5f6f9;
}

.sub-container-nav-right-code {
  color:#f5f6f9;
  font-size: 1.7vmax;
  font-size: 1.9vmax;
  transition: color 0.5s ease-in-out;
  cursor: default;
}

.sub-container-nav-right-code:hover {
  cursor:pointer;
}


.sub-container-title {
  padding-left: 2vw;
  font-size: 3vmax;
}

/* FORM CSS */

.container-index {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form {
  background-color: #ffdfd3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10vh 10vw;
  border-radius: 5%;
  margin-bottom: 10vh;
}

.container-form-input {
  font-family: "Lato", sans-serif;
  background: none;
  border-radius: 10%;
  padding: 1vmax;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5vh;
  resize: none;
}

.container-form-button {
  font-family: "Lato", sans-serif;
  border: none;
  border-radius: 5%;
  font-size: 1.3vmax;
  background: none;
  color: #b4bad4;
}

.container-form-button:hover {
  color: #fff;
  cursor: pointer;
}

/* FORM CSS */

/* REVIEW CSS */
.review-date {
  color: #ccc;
  border: 1px solid #fff9ed;
  border-bottom: none;
  padding: 1vmax;
}

.review-review {
  text-align: center;
  border: 1px solid #fff9ed;
  border-top: none;
  padding: 1vmax;
  width: 20vmax;
}

/* All sentimentReview */

/* Good sentimentReview */
.good {
  border-color: #00cf91;
}
/* Good sentimentReview */

.neutral {
  border-color: #ffad32;
}

.bad {
  border-color: #f85c50;
}

/* All sentimentReview */
/* REVIEW CSS */


/* ERROR CSS*/
.error-wrong-code{
  color:#ff6961;
}
/* ERROR CSS*/


.help-icon {
  display: block;
  color: #7A6174;
  position: absolute;
  bottom: 1.5%;
  right: 2%;
  font-size: 3em;
}

.help-icon:hover {
  cursor: default;
}

.hide {
  display: none;
}

.help-icon:hover+.hide {
  display: block;
  color: #7A6174;
  position: absolute;
  bottom: 10%;
  right: 2%;
  width:10%;
}